[2018-12-01 02:01] denny64 opened #1 "Browser history needs a DOM"
I've set it up as suggested in the README file, but getting the error "Browser history needs a DOM".

Using react router v4 + react loadable + SSR.

Any ideas?

Thanks

[2018-12-05 11:43] aalpgiray opened #2 "Time Travel Does Not Effect Routes"
I implemented this library alongside with [easy-peasy](https://github.com/ctrlplusb/easy-peasy). However, the URL changes when time travel has been applied, but Routers won't act to the change.

Here is a SS:
![image](https://user-images.githubusercontent.com/6337113/49499879-5166e400-f880-11e8-9df4-627e0b23c652.png)

If you wanna to give it a look. Here it is https://github.com/aalpgiray/easy-pea

[2018-12-05 11:50] salvoravida commented on #2
can you share more code here?

[2018-12-05 14:01] salvoravida commented on #2
@aalpgiray can you try v.4.0.0-alpha.7 ?

let me know if it works.

[2018-12-05 15:16] aalpgiray commented on #2
Thank you I close this one.

[2018-12-05 15:16] #2 closed

[2018-12-13 09:46] salvoravida commented on #1
@denny64 feel free to re-open as soon as you can share more code/detail.

[2018-12-13 09:46] #1 closed

[2019-01-28 22:13] chadwatson opened #6 "Does not work with redux-immutable"
Currently I get an error when trying to use this with [redux-immutable](https://github.com/gajus/redux-immutable) and react-router because it assumes that the redux state is an object literal instead of an Immutable collection.

What would you guys think about adding support for a selector in the options to select the router state?

[code]

[2019-02-03 20:12] bassplayerch opened #8 "support "navigate" from @reach-router?"
I couldn't find any example how to set this up with reach router.
Can you give me a simple example how to apply the reachify history to the reach router?

[2019-02-09 18:23] ifyoumakeit commented on #8
Still working on this same issue, but they have a CodeSandbox with an example using Reach's LocationProvider.

https://codesandbox.io/s/wy5qw1125l

[2019-02-14 02:07] salvoravida commented on #8
`javascript

            <div className="reachRouter">
              <h2>i'm a @reach/router subApp</h2>
              <Reach.LocationProvider history={reachHistory}>
                <React.Fragment>
                  <Reach.Link to="/">Reach.Link to Home</Reach.Link>
                  <Reach.Link to="dashboard">
                    Reach.Link to Dashboard
                  </Reach.Link>

[2019-03-18 14:42] phmatray opened #9 "Support TypeScript"
Please consider support typescript for a seamless integration with easy-peasy.

[2019-03-18 17:11] salvoravida commented on #9
yes i'm working on new version with immutableJs + typescript support.

hope i can release it before weekend.

:D

[2019-03-19 10:23] phmatray commented on #9
It's really good to read.
I have just integrated redux-first-history into one of my projects and I hope to continue to see it evolve. :)

[2019-03-22 12:45] ctrlplusb commented on #9
Awesome news @salvoravida

Stoked to hear that this is on the way. 😊

[2019-04-04 04:40] aalpgiray commented on #9
Any updates on that mate? I can take a look if you want.

[2019-05-20 18:56] tedpennings opened #10 "GA release"
When can we expect a GA release of this component?

Everything here seems very stable and reliable, so I'd love to see the package version reflect that. I'm excited to use it, and even more eager to use it without the `alpha` qualifier.

Thanks!

[2019-05-21 23:52] salvoravida commented on #6
done !

[2019-05-21 23:52] #6 closed

[2019-05-22 00:12] salvoravida commented on #10
I'm sorry for the late release, anyway here it is!.

Enjoy and thank you for the feedback!

[2019-05-22 00:14] salvoravida commented on #9
should be done with 4.0.1 release (with merged prs)

Waiting for your feedbacks!

[2019-05-22 04:44] tedpennings commented on #10
Yay thank you @salvoravida !

[2019-05-22 04:44] #10 closed

[2019-05-22 08:54] salvoravida commented on #9
close.
feel free to re-open if there is any issue.

[2019-05-22 08:54] #9 closed

[2019-06-10 23:12] atoztoa opened #13 "[Question] How to use this with separate root reducer file?"
I have my reducers in a separate file, which has the `combineReducers` function.

I need the `routerReducer` in separate file and `createReduxHistory, routerMiddleware` in store.

If I make 2 calls to `createReduxHistoryContext`, won't it create different instances of `history`?

[2019-06-11 13:29] salvoravida commented on #13
reducers.js

[code]

store.js

[code]

[2019-06-11 16:15] #13 closed

[2019-06-12 14:36] atoztoa opened #14 "[Issue] Redux event not triggered on `navigate` in react-router"
While using `reach-router` everything works while using a Link.

But, if you use `navigate`, then no event is triggered.

[2019-06-12 15:08] salvoravida commented on #14
the error is from @reach router that export navigate from globalHistory, ignoring <LocationProvider> history.

**hard Fix on store.js**

[code]

[2019-06-12 16:38] atoztoa commented on #14
`app.js?1112:42 Uncaught TypeError: Cannot set property navigate of #<Object> which has only a getter`

[2019-06-12 16:46] atoztoa commented on #14
If I need to use `push` from redux-first-history, do I need to connect it to Redux?

[2019-06-13 10:19] salvoravida commented on #14
[code]

[2019-06-13 10:21] salvoravida commented on #14
the problem is within your bundler.

anyway i suggest to NOT use navigate from reach-router as it not depends on Context Location Provider.

use dispatch push ...

[2019-06-13 14:53] salvoravida commented on #14
@atoztoa i'm closing this issue. feel free to reopen it if needed.

[2019-06-13 14:53] #14 closed

[2019-06-13 21:37] atoztoa commented on #14
How can I trigger a `push` from another middleware?

[2019-06-13 21:43] atoztoa commented on #14
The code in updateLocation needs to be

    return dispatch => {
        dispatch({
              type: CALL_HISTORY_METHOD,
             payload: {
               method: method,
               args: args
            }
         });
        };

[2019-06-13 21:45] atoztoa commented on #14
Never mind, my bad. Thanks

[2019-06-28 14:33] IMalyugin commented on #8
For those who want to integrate redux-first-history with @reach/router, I'll leave a comment here so you don't have to lose half a day trying to figure out how to make @reach/router navigate to work.

Tutorial for `redux-first-history` suggests initializing as follows:
[code]
import { globalHistory } from '@reach/router';

function reachHistoryAdapter (reachHistory) {
  const adaptedHistory = Obje

[2019-07-31 04:34] iiroj commented on #1
If you followed the example in the [README.md](https://github.com/salvoravida/redux-first-history/blob/master/README.md), you'll have used the `createBrowserHistory` method of the `history` package. This does not work server-side.

Here's my version where you can supply the current location pathname to a `configureStore` method which works server-side and returns the `store` and `history` (don't r

[2019-10-02 08:58] salvoravida commented on #1
@iiroj thanks! i have pinned this SSR support example

[2019-10-02 09:07] salvoravida commented on #8
@IMalyugin thanks you for workaround on @reach/router navigate.
it would be better to use redux-first-history push action for imperative navigation, in a "redux-first" app.

anyway if someone would like to use "navigate" from @reach/router, your adapter seem to be fine.

i have pinned this issue

[2019-10-18 11:14] daryaShashko opened #17 "history block doesn`t work"
When I want use Prompt from react-router for prevent transitions I get the Error.
its resolve by adding for reduxFirstHistory block from history lib.

[2019-10-18 11:20] daryaShashko opened #18 "setState for exact route"
I have a lot of cases when I need to change state for route. in react-navigation lib we have setParams for that, in histry api we have pushState() for that. Now I use replace without router, just with new state, but it`s not a good choice.
Can you provide the method for setState and getState

[2019-10-18 14:53] salvoravida commented on #17
can you provide a codesandbox example? need more info

[2019-10-18 15:16] salvoravida commented on #18
why do you need historyApi state in a Redux app ?!?

[2019-10-18 15:23] salvoravida commented on #17
https://github.com/salvoravida/redux-first-history/releases/tag/v4.1.1

[2019-10-18 15:23] #17 closed

[2019-10-18 15:33] salvoravida commented on #18
anyway you can use .replace("same-url", newState)

[2019-10-18 15:33] #18 closed

[2019-10-28 15:50] dbartholomae opened #19 "Remove TypeScript dependency on @reach/router"
Thanks for the nice library! One thing on TypeScript: Currently the TypeScript definition file imports `@reach/router` which makes it a direct dependency and means I have to install that package even if I'm using `react-router`. It would be great if the dependency could be removed, at least from the file I have to consume :)

[2019-10-28 16:22] salvoravida commented on #19
yeah you are right.
i have to move reachfy to "redux-first-history/reachfy" to do that, and it is a BC.

as i'm going to rewrite rfh in TS, i will do that into next v. 5.0

[2019-11-11 03:08] thisissami opened #20 "Feature Suggestion: add an optional `pathnameHistory` array to the `router` state"
In an app I'm building, I needed to know the previous `url` to properly animate certain transitions. I've been using `redux-first-history` for many months now (thanks for maintaining this library!) and assumed that it would have a history array within the generated `reducer` state, given the name of the library - but it doesn't.

I've built a little `ContextProvider` for my own app using the `loca

[2019-11-11 22:24] salvoravida commented on #20
hi! thank you for your idea!
maybe next release!

Just some ideas on how to implement it
[code]

[2019-11-12 00:00] thisissami commented on #20
so there's 2 distinct approaches that could be taken - either:

`previous: [ { location, action }, ....]` as you've suggested above, or
`previous: [ location, ....]` - where when somebody goes "back" in their browser and the action is `POP`, that latest location is removed from the start of the array (i.e. `state.previous.shift()` if `state` were mutable)

Your suggestion has more data, which I th

[2019-11-12 00:04] thisissami commented on #20
I would perhaps also change some of the names to be more clear / less ambiguous as follows:

`previous` ==> `previousLocations`

`rememberLocationChanges` ==> `numberOfPreviousLocationsToTrack`, or if that's too verbose perhaps `numLocationChangesToTrack`

[2019-11-12 00:18] salvoravida commented on #20
yes i agree on better names.

but i thought about storing all changes in queue not care about pop raplace or push. there is the "action" label. so the tracking is "raw".

on every LOCATION_CHANGE,
previous= [ newLocation, ...previouse.slice(0,numLocationChangesToTrack)]

[2019-11-12 00:40] thisissami commented on #20
yes I agree that is a better approach. "raw" means that the developer decides what's important, not the library. and that is good.

[2019-11-12 00:40] thisissami commented on #20
(and it is simpler to implement)

[2019-11-13 02:02] salvoravida commented on #20
https://github.com/salvoravida/redux-first-history/releases/tag/v4.2.0

[2019-11-13 02:03] salvoravida commented on #19
🎉  https://github.com/salvoravida/redux-first-history/releases/tag/v4.2.0

[2019-11-13 02:03] #20 closed

[2019-11-13 02:28] thisissami commented on #20
wow I'm super impressed @salvoravida - that was super fast turnaround!! Especially considering you didn't receive any help in the form of a PR - I appreciate how quickly you responded to a feature request!!

[2019-11-18 17:07] dbartholomae commented on #19
Does it make sense to leave this ticket open until `5.x` is released?

[2019-12-04 10:30] younes0 opened #21 "add other value in the reducer & sync with window.history.location"
To save scroll position on route change, I was thinking of storing scrollPos in the `window.history.location.state`, but this wouldn't be synced with the RFH (redux first history) reducer. And in my understanding, adding data directly to the reducer on `LOCATION_STATE` action wouldn't affect `window.history.location.state`.
The neat way would be perhaps to override default behavior RFHto add data

[2019-12-05 16:16] younes0 commented on #21
I solved my problem using: https://github.com/ipatate/react-router-scroll-memory

[2019-12-05 16:16] #21 closed

[2019-12-06 09:13] younes0 opened #22 "should we add a Link component to this repo?"
The react-router Link is not usable with this library since it handles routing history.
I've created a Link component based on react-router's one: primary goal is keeping original browser handling (middle click/modifier keys)

[code]
Usage would be
[code]
But I'm not sure that this is place where to put it

[2019-12-06 09:21] salvoravida commented on #22
Hi react-router <Link is 100% working with redux-first-history
are you sure you have follow app.js installation instructions?
[code]

see demo on readme page.

[2019-12-06 09:37] younes0 commented on #22
Hi,
So i've made some tests and I'm not sure if it's a redux-first-history:
I'm using state to match link and route (legacy reasons), and the `to.state` Link parameter is not taken in account by RFS.

[2019-12-06 10:02] salvoravida commented on #22
look here https://codesandbox.io/s/redux-first-history-demo-r3shw
[code]

console log
[code]

on POP (back button, you will have your previous state)

[2019-12-06 10:03] #22 closed

[2019-12-06 10:04] salvoravida commented on #21
look here https://codesandbox.io/s/redux-first-history-demo-r3shw
[code]

console log
[code]

on POP (back button, you will have your previous state)

[2019-12-06 10:07] younes0 commented on #22
Okay thanks, I will try again

[2019-12-09 11:49] younes0 commented on #22
Note that I'm using easy peasy and applied RFS middleware: no redux action is triggered with <Link /> click.
Thanks for your help anyway.

[2020-01-16 04:10] saadtazi opened #24 "Reach Router Link component does not work when query string parameters are provided"
Hello,

First: thanks for the library.

I realized that, with reach-router, when `Link` reach-router component is used with query parameters (for example `<Link to="some/path?param1=value1">`), the browser url is properly updated but the Route component does not change and the redux router state is not updated (pathname, hash.

Here is a sandbox that reproduce the issue (copy of the repo example,

[2020-01-16 06:51] salvoravida commented on #24
https://codesandbox.io/s/redux-first-history-demo-gzgox

it seems ok here

you have commented
`  <Reach.LocationProvider history={reachHistory}>`

[2020-01-16 11:35] saadtazi commented on #24
Thanks for the quick response.
OOps, I am so sorry: I tried so many things to understand an issue about  `search` not been properly updated when Link is used... That issue can be seen here: https://codesandbox.io/s/redux-first-history-demo-56jrr . When the Dashboard Link is clicked:
- `pathname` string contains the the path
- the search `search` remains empty when dashboard link is clicked.

I'll

[2020-01-16 12:01] #24 closed

[2020-01-16 14:00] saadtazi opened #25 "reach-router: `search` store attribute not updated with `Reach.Link`"
Hello,

When a Reach.Link that contains querystring parameters is clicked:
- `pathname` string contains the path with the querystring (`search`) params
- the `search` remains empty

That issue can be seen here: https://codesandbox.io/s/redux-first-history-demo-56jrr .

I suspect that it's because the `navigate()` method, generated by `reachify` [here](https://github.com/salvoravida/redux-first-his

[2020-01-16 15:34] salvoravida commented on #25
https://codesandbox.io/s/redux-first-history-demo-q63dx

fixed on release 4.2.6

[2020-01-16 15:37] salvoravida commented on #25
@saadtazi let me know your feedback

[2020-01-16 15:37] #25 closed

[2020-01-16 15:41] saadtazi commented on #25
That was so fast! It looks good! 👏 I updated the codesandbox.io so it uses the v4.2.6.

[2020-01-20 04:29] diegodebonis opened #26 "navigate on @reach/router not working"
Based on the default configuration if you trying to navigate programatically you wont be able to do it.

Here the example code
[code]

[2020-01-20 04:40] diegodebonis commented on #26
Another thing, even you wont change the location, the action dispatches anyway.

[2020-01-20 07:11] salvoravida commented on #26
@diegodebonis look at https://github.com/salvoravida/redux-first-history/issues/8

navigate from reach router use globalHistory, not the one from Provider! (it is a issue of @reach/router! ignoring Provider location/history)

i suggest to use dispatch(push(...)) to navigate imperatively with redux-first-history!

[2020-01-20 07:21] salvoravida commented on #26
i suggest to export `navigate` from redux-first-history

//your store.js
[code]

then use it from store.js
[code]

[2020-01-20 07:24] salvoravida commented on #26
@diegodebonis you should use `push` from redux-first-history

[code]

[2020-01-24 11:29] salvoravida commented on #26
@diegodebonis
https://github.com/salvoravida/redux-first-history/releases/tag/v4.5.0

[2020-01-24 11:29] salvoravida commented on #8
@bassplayerch @ifyoumakeit @IMalyugin
https://github.com/salvoravida/redux-first-history/releases/tag/v4.5.0

[2020-01-24 11:30] #26 closed

[2020-01-24 17:13] salvoravida commented on #8
@bassplayerch @ifyoumakeit @IMalyugin
can you test it please?

[2020-01-31 08:44] #8 closed

[2020-02-19 22:48] salvoravida opened #27 "Roadmap 5.x"
Roadmap 5.x

This issue is a roadmap for all work on the 5.x branch.

- [x] Rewrite all with TS
- [x] Support `history` v5.x
- [x] Support `react-router` v6.x
- [x] Deprecate/remove oldLocationChangePayload
- [x] Test coverage 100%
- [x] Better docs

if you have any ideas... now's the time!
Let's discuss.

[2020-03-21 00:10] connorgiles opened #29 "Accessing route paramaters"
What is the best way currently to extract matched parameters from the location state? With `connected-react-router` we can use `createMatchSelector` like this:

`createMatchSelector({ path: '/jobs/:id' })(state)`.

What is the best way to this currently with redux-first-history? Or should I use another dependency to extract params?

[2020-03-21 00:22] connorgiles commented on #29
I ended up upgrading my `react-router-dom` package in order to use the new `useParams` like this:

`const { id } = useParams();`

Thanks!

[2020-03-21 00:22] #29 closed

[2020-03-26 19:50] davirdasilva opened #30 "Add support for React-Router v6.0.0-alpha.2"
Hi,

Are you going to support the current alpha release (v2) of React-Router? Because everything seems to work but the page does not change. The action is dispatched with "@@router/LOCATION_CHANGE", pathname is correct and the browser URL changes, but it stays on the same page.

Thanks.

[2020-03-26 22:33] salvoravida commented on #30
Of course. Can you provide a codesandbox?

[2020-03-27 04:28] davirdasilva commented on #30
I made a simple sandbox. There are two buttons, if you press login you will dispatch a saga and inside this saga there is PUSH from redux-first-history. As you can see the URL changes but there is no navigation to the page. The second button is the `navigate` for React-Router v6 and it is working when clicked.

https://codesandbox.io/s/dazzling-borg-l8y2l

[2020-03-27 04:46] salvoravida commented on #30
You have to use Router not BrowserRouter

[2020-03-27 04:53] salvoravida commented on #19
I'm closing this issue, as of 5., reach router support will be removed. It has been merged with react router 6.x

[2020-03-27 04:53] #19 closed

[2020-03-27 05:48] davirdasilva commented on #30
Perfect! Problem solved! Thanks.

[2020-03-27 05:48] #30 closed

[2020-03-29 13:49] salvoravida commented on #27
started branch dev-5x
- removed support for @reach/router  -> converged to react-router v6

[2020-08-17 00:56] sirrodgepodge commented on #27
why remove @reach/router support?

[2020-08-26 09:26] salvoravida commented on #27
@sirrodgepodge @reach/router is deprecated, the project will converch to react-router v6

https://reacttraining.com/blog/reach-react-router-future/

[2020-08-29 10:02] salvoravida commented on #27
But maybe it could be useful to support react-routef v6 and @reach/router at the same time...

[2020-09-14 20:52] jKh98 opened #33 "Support for MemoryHistory or HashHistory"
Hello,
I saw your library a couple of days ago and it was just what I was looking for. It works perfectly with redux-toolkit and react-router-dom.
However, I have a question regarding other history types. So far, you are supporting `createBrowserHistory`. I am trying to package my react app using electron-pack as a desktop application, and it's known that electron supports MemoryHistory and HashHi

[2020-09-15 13:57] salvoravida commented on #33
I @jKh98 have you an example of elector use case? a codesanbox?

[2020-09-16 07:46] jKh98 commented on #33
Hello, there is this famous [react-electron-boilerplate project](https://github.com/electron-react-boilerplate/electron-react-boilerplate) where they use connected-react-router (which you are replacing in a very neet way) with createHashHistory.
Do you think something similar is doable here?

Regards

[2020-09-16 16:27] salvoravida commented on #33
Hi @jKh98  createHash history should be compatible with createbrowserhistory, what is eaxctly the error you have?

[2020-09-18 00:48] cmonacaps opened #34 "browser-navigate-forward as compared to dispatch(push)"
working on left/right router transitions.

using `@reach/router` and `react-redux` with `redux-first-history` as documented.

These cases work ok:

* `dispatch(push(nextLocationForward))`
  * makes an action `{ type: '@@router/LOCATION_CHANGE', payload: { action: 'PUSH', ... } }`
* `dispatch(goBack(null))`
  * makes an action `{ type: '@@router/LOCATION_CHANGE', payload: { action: 'POP', ... } }`

[2020-09-18 01:48] cmonacaps commented on #34
I read about `history` on MDN and the `popstate` concept.

Then I tracked `depth` in my store and when going forward

`dispatch(push({ pathname: nextLocationForward, state: { depth: storeDepth+1 } })`

and I can compare `store.depth` versus `action.payload.location.state?.depth` as well as the `action.payload.action`

working correctly now! 👍

[2020-09-18 01:48] #34 closed

[2020-10-02 18:10] Avizura opened #35 "Question"
Hi, thanks for the library! Could you say why Link component and dispatch(push(path)) work differently as when you click on Link component the LOCATION_CHANGE action reaches middlewares before react-router sees the change (and performs rendering) and when dispatching action directly everything is vice versa? I have same issue with connected-react-router. Sorry if it's wrong place for the question.

[2020-10-02 19:36] salvoravida commented on #35
https://github.com/salvoravida/redux-first-history#advanced-config

Try batch updates, should solve your problem

[2020-10-02 20:03] Avizura commented on #35
Unfortunately did not help

[2020-10-02 20:04] salvoravida commented on #35
Hum, can you provide a code sand box with your code?

[2020-10-02 20:43] Avizura commented on #35
Actually I can't... Apparently the problem is in my code. Appreciate your help!

[2020-10-02 20:43] #35 closed

[2020-10-30 15:40] jKh98 commented on #33
Hello, It works fine. All I did was removing the router reducer from redux-persist whitelist.

[2020-10-30 15:45] jKh98 commented on #33
However, I am facing a new problem where there is a mismatch between the location state object and the URL in the search bar. This only happens in the case of server redirect. For example, if I am at routeA and received a server redirect to routeB. While in routeB, if I dispatch a replace action to replace routeB with routeA I will successfully be able to go to routeA but the searchbar will show r

[2020-10-31 09:55] salvoravida commented on #33
Sorry i cannot understand your use case, without a code sample. are you sure server redirection are inside same domain?

[2020-11-10 05:56] salvoravida commented on #33
@jKh98 i close this issue, as without code sample i cannot reproduce. feel free to reopen if needed.

[2020-11-10 05:56] #33 closed

[2020-11-12 21:23] alexdunham opened #37 "Help creating separate apps that route together"
Hi there,

I am creating a POC for having two totally separate react apps that can be nested. So there is a parent app that ha the top level router, and a sub-app with it's own router.
I'm having trouble getting the sub-app's router to link relatively - e.g. the sub app links seem to need the initial window path before it's own paths. Do you have any ideas why that might be?

The parent app is set

[2020-12-01 22:29] salvoravida commented on #37
@alexdunham please share some code example on codesanbox

[2020-12-07 16:10] #37 closed

[2021-01-08 11:20] llaenowyd commented on #27
Is react-router v6 coming soon? What's the best choice for a router lib that's available today?

[2021-01-08 11:32] salvoravida commented on #27
yesh we are waiting for out of beta v6 and for this pr merged
https://github.com/ReactTraining/react-router/pull/7586

[2021-01-08 12:18] llaenowyd opened #39 "weird error, stack trace from @reach/router [Question]"
I added @reach/router 1.3.4 and redux-first-history to a functional React app.

Now when I try dispatching a `push` action, I get the following stack

[code]

The first frame `pick` is at [@reach/router/lib/utils.js:34](https://github.com/reach/router/blob/e203fe612236851a0bd3c77dba693e539a351c62/src/lib/utils.js#L34)

I went into `node_modules/@reach/router/es/lib/utils.js` and put a `console.log

[2021-01-08 12:56] salvoravida commented on #39
do you have a code sand box with code example?

[2021-01-08 12:58] #39 closed

[2021-02-05 22:15] Ethorsen opened #40 "React-router 6.0.0-beta.0 throws an error"
Hi @salvoravida,

Thx for this great module.

There is an error right out of the box with the latest react-router beta.

![Screenshot_1](https://user-images.githubusercontent.com/1493968/107094686-74c9a880-67d5-11eb-890f-e86e89eb0da8.png)

As shown in this sandbox.

https://codesandbox.io/s/proud-hill-e6kn2

Thx

[2021-02-05 22:22] salvoravida commented on #40
Hi @Ethorsen, the problem is that v beta has a breaking change v alpha.
I have already opened a pr on react router page six months ago.
https://github.com/ReactTraining/react-router/pull/7586

We cannot. Fix rfh, without that pr merged. Feel free to stress them.. 😅

[2021-02-05 23:56] Ethorsen commented on #40
Ok.  No stress thx for the follow-up.

I'll stick with react-router 5.2.0 for now as my actual project wont grow that big.  It will be trivial to do the switch once its all figured out.

Thx

[2021-05-02 20:36] salvoravida commented on #27
rewritten in ts!

[2021-05-10 06:30] salvoravida commented on #27
removed - [x] Deprecate/remove @reach/router ? (it will converge to react-router v6)

5.x will support react-router v4/v5/v6 - reach/router v1.x - history v4/v5

[2021-06-02 11:41] kfalkiewicz opened #43 "Problem with goBack and goForward types"
Hi
I have problem with usage of `goBack` and `goForward` functions. Both require argument, but probably they shouldn't. From my understanding `goBack()` should equal to `go(-1)`, and `goForward()` to `go(1)`. If I'm correct, then why both need an argument? What is point in having those methods?

Types for `goBack` and `goForward`
[code]

[2021-06-03 09:26] salvoravida commented on #43
yes you are right, it has been already fixed in future version 5.x

[2021-06-03 09:26] #43 closed

[2021-06-03 09:35] kfalkiewicz commented on #43
@salvoravida Ok when we can expect a release of this version?

[2021-08-03 08:44] #40 closed

[2021-08-04 19:51] Ethorsen commented on #40
Does it mean your PR with react-router is to be merged soon?

[2021-08-16 12:52] salvoravida commented on #27
https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.0-beta.2

- rewritten in TS
- add support for react-router v6.0.0-beta.1

[code]

demo rr6 here: https://codesandbox.io/s/redux-first-history-demo-rr6-uccuw

[2021-08-16 12:52] salvoravida commented on #43
- rewritten in TS
- add support for react-router v6.0.0-beta.1

[code]

demo rr6 here: https://codesandbox.io/s/redux-first-history-demo-rr6-uccuw

[2021-08-16 12:53] salvoravida commented on #40
- rewritten in TS
- add support for react-router v6.0.0-beta.1

[code]

demo rr6 here: https://codesandbox.io/s/redux-first-history-demo-rr6-uccuw

[2021-08-27 12:42] Ethorsen opened #45 "Dispatching goBack will generate an error in 4.6.0-beta.1 with history 5.0.1"
Hello,

I'm posting in case you'd like to release 4.6.0 final at some point or if its just a simple fix you'd like to push in 4.6.0-beta.2

Combination of redux-first-history 4.6.0-beta.1 and history 5.0.1 will throw an error if you dispatch goBack()

ex.
https://codesandbox.io/s/redux-first-history-demo-forked-iydww?file=/src/App.jsx

![image](https://user-images.githubusercontent.com/1493968/131

[2021-08-27 16:43] #45 closed, assigned to nobody

[2021-09-21 19:54] Slapbox opened #46 ""TypeError: Cannot read property 'slice' of undefined" when setting savePreviousLocations to an integer value"
Using `react-router@5.2.x`:

[code]

`initialState.previousLocations` is an empty array, but it ends up unused and the state that is passed lacks the `previousLocations` key, which subsequently causes this fatal error.

-----

I'm also wondering what sort of data gets stored in `previousLocations` and how it relates to navigating `forward()`. Will `previousLocations` include entries that would be

[2021-09-22 10:33] salvoravida commented on #46
@Slapbox could you please provide a codesandbox example?

[2021-09-22 11:25] mtmacdonald commented on #27
Would be nice if the docs could show a configuration example with Redux Toolkit (`configureStore`)

[2021-09-22 14:24] salvoravida commented on #27
https://codesandbox.io/s/redux-first-history-demo-forked-fy1kt?file=/src/store.js

It's quite easy:

[code]

[2021-09-22 19:55] Slapbox commented on #46
**Update:**

And actually after all that, perhaps all I needed to do was re-run `yarn`? I reapplied the stashed changes and re-ran `yarn` and so far I can't reproduce the error in our project.

----

**Original comment:**

Thanks for your reply @salvoravida! I guess I can't without rebuilding large swathes of our setup, unfortunately.

I did try, but did not succeed at reproducing it. If anyone el

[2021-09-22 19:55] #46 closed

[2021-09-22 21:07] salvoravida commented on #46
@Slapbox sounds good!

Maybe hot-reload did some mistake!

Regards!

[2021-09-23 08:43] mtmacdonald commented on #27
Another question: what's the best flow for accessing router "[match params](https://reactrouter.com/web/api/matchPath)" in the Redux layer?

If this package makes the store the "single source of truth" for all state (including routing state), then I would like some kind of selector which retrieves url params for direct use in the Redux layer (without having to fetch them first in React components

[2021-11-05 17:24] AnimaLupi commented on #27
Hello, not sure if I should open another issue or just add this here as it's related to 5.x development... hope it's the right place :-)

Anyway, React Router v6 is out and they merrily removed the history prop from `<Router>` (also from `<BrowserRouter>` and friends).
Does that rule out any possibility of integration with redux-first-history unless they re-add it? :-(

[2021-11-05 17:27] salvoravida commented on #27
https://github.com/salvoravida/redux-first-history/releases

5.0 beta 2 already supports rr6 also the last one.

I think it's time to release rfh 5.0 final as the beta is quite stable.

Please give me a feedback if you test with rr6

[2021-11-05 17:28] salvoravida commented on #27
- rewritten in TS
- add support for react-router v6.0.0-beta.1

[code]

demo rr6 here: https://codesandbox.io/s/redux-first-history-demo-rr6-uccuw

[2021-11-05 22:02] AnimaLupi commented on #27
Thank you very much!
I was missing the new

[code]

With that one, things are working properly. Thanks again, looking forward for the 5.0 release! :+1:

[2021-11-09 21:15] salvoravida commented on #27
v5.0.0 is out!
https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.0

let me know your feedback!

[2021-11-10 08:25] cherepanov opened #49 "warning with source-map-loader"
npm packages is missing src folder so build gives warning

[code]

workaround is it to exclude from loading

[code]

[2021-11-10 08:49] salvoravida commented on #49
https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.1

[2021-11-10 08:49] #49 closed

[2021-11-10 09:28] #27 closed

[2021-11-12 14:54] faminchik opened #50 "`unknown[]` type of arguments for `history` methods"
`push`, `replace`, `go`, `goBack`, `goForward` history methods have `unknown[]` type for arguments.

![image](https://user-images.githubusercontent.com/31989569/141486062-50ab1d1b-0367-4ed3-88cf-e3efaddc0077.png)

[2021-11-12 16:14] salvoravida commented on #50
@faminchik please upgrade to 5.x it should be fixed

[2021-11-12 16:14] #50 closed

[2021-11-13 10:50] salvoravida commented on #50
@faminchik lmk if it solves your issue

[2021-11-13 11:16] faminchik commented on #50
@salvoravida

Hello Salvatore,

I've installed `redux-first-history` `v 5.0.1` and `history` v `5.1.0`, but this issue still exists
____

If take a look at the `actions.d.ts` file, I see the following:

[code]

And since all these five methods have nothing in common, then args have `unknown[]` type.

I guess the reason is in [the following function](https://github.com/salvoravida/redux-first-histo

[2021-11-13 18:45] salvoravida commented on #50
Please try 5.0.2. Can you create a codesandbox?

[2021-11-14 12:23] uk-taniyama opened #51 "The type of routerReducer becomes Reducer<any,AnyAction>."
Therefore, the type of state becomes any.
I want the state type to be RouterState.

[2021-11-14 12:25] salvoravida commented on #51
Hi @uk-taniyama, can you provide a codesandbox?

I suspect that you are talking about history v5.x where location state is any?

[2021-11-14 12:33] salvoravida commented on #51
OK RouterState is missing I'm fixing it. which react router and history are you using?
v5 or v6?

[2021-11-14 12:33] uk-taniyama commented on #51
I've added type parameters in various places.
I tried to make it possible to guess the type.

https://github.com/uk-taniyama/redux-first-history/commit/3f73044dccc744846d1eff3a918caeed59cf6e74

[2021-11-14 12:35] uk-taniyama commented on #51
example

[code]
RootState as follows:
[code]

[2021-11-14 12:38] uk-taniyama commented on #51
I am using only history, not react router.

[2021-11-14 12:45] salvoravida commented on #51
which version? v4 or v5 ?

[2021-11-14 12:47] uk-taniyama commented on #51
"history": "^5.1.0",
    "redux-first-history": "^5.0.2",

[2021-11-14 13:40] salvoravida commented on #51
Hi thanks for your test, can you try 5.0.3 just released?

[2021-11-14 13:57] salvoravida commented on #51
@uk-taniyama please note that LocationState is removed from history v5.x so redux-first-history v5.0.3, just released should work fine for you. lmk!

[2021-11-14 21:24] salvoravida commented on #51
@uk-taniyama I will reopen this issue if 5.0.3 does not solve your issue. let me know

[2021-11-14 21:24] #51 closed

[2021-11-15 01:12] uk-taniyama commented on #51
I installed it, and it showed up fine.
Thank you very much!

[2021-11-15 08:55] siarheipashkevich opened #52 "[Question] Is it possible to use hooks from react-router package?"
Hi @salvoravida

Thanks for your great wrapper and quick support of the rr6.

1) In rr we have some hooks for using, can I use these hooks in my project (redux) or I should create my own hook where I should call `push` method from you wrapper?
2) If I wanna to do anything I should touch your api methods first for the correct work of the rr and wrapper?

Thanks

[2021-11-15 09:39] salvoravida commented on #52
Sure you can use rr official hooks! ( when at the end they call history.push, redux first history tunnel translate it into dispatch push)

[2021-11-15 09:43] siarheipashkevich commented on #52
But in the documentation we have one point:
[code]

But if I will call hooks from rr directly it's will be handled correctly for redux state?

Please ignore 2 question it's the same with first one, sorry )

[2021-11-15 09:46] salvoravida commented on #52
Yes, but that case is when you need push from redux-saga for example or the old react-redux "connect" hoc.

Yes, now you can use useHistory from react-rotuer directly, it will works with redux state!

[2021-11-15 09:48] siarheipashkevich commented on #52
Thanks a lot.

[2021-11-16 16:39] sergeu90 opened #53 "Issue in route if hash: null"
Hello. Good library a lot of thanks.

I have one question i used library https://github.com/mjrussell/redux-auth-wrapper#readme

 i have some code.

import { connectedReduxRedirect } from 'redux-auth-wrapper/history3/redirect';
import { push } from 'redux-first-history';

export const UserIsAuthenticated = connectedReduxRedirect({
  redirectPath: 'login',
  authenticatedSelector: (state) => !isEmp

[2021-11-16 16:45] salvoravida commented on #53
@sergeu90 please can you provide a codesandbox?

history version? react-router version?

[2021-11-16 17:15] sergeu90 commented on #53
"history": "5.1.0",
 "react-router-dom": "6.0.2",

Sorry but sandbox i can't provide now.

[2021-11-16 17:30] salvoravida commented on #53
the problem is with the history package:
https://github.com/remix-run/history/blob/main/packages/history/index.ts#L1052

null is not a valid value

[2021-11-16 17:33] salvoravida commented on #53
@sergeu90 please open the issue on history repo

[2021-11-16 17:33] #53 closed

[2021-11-16 17:34] sergeu90 commented on #53
Thanks for quick reply.I think problem in redux-auth-wrapper. It send hash:null.

[2021-11-16 17:38] sergeu90 commented on #53
Thanks.Good research

[2021-11-16 17:39] salvoravida commented on #53
@sergeu90 I opened an issue for that

[2021-11-25 16:29] dArignac opened #56 "No location change when using push from saga"
Hi there,

first of all thanks for providing this package!

However, I have a small issue and I'm not sure if it my setup or anything else.
Following your docs I want to dispatch a location change from a saga (`use push action creator from redux-first-history if you need to dispatch location from saga or connected components.`). I'm using react-router v6.

[code]
The action is executed, but there

[2021-11-25 16:45] salvoravida commented on #56
@dArignac

are you using History Router as explained on README?

[code]

[2021-11-25 17:41] dArignac commented on #56
HI @salvoravida , yes, my code looks the same.

[2021-11-25 17:44] salvoravida commented on #56
Please look at the official example with rr6: https://codesandbox.io/s/redux-first-history-demo-rr6-uccuw

After that, provide a codesandbox with your case, otherwise I can't help .

[2021-11-26 10:17] dArignac commented on #56
Hey @salvoravida,

I set up a codebox with a simplified application. Just navigate to its login page and click login. The saga calls the push back to the index page, but actually does not redirect. I guess I'm generally missing something or doing something wrong-

The saga emitting the push is here: https://codesandbox.io/s/webpack5-typescript-tsloader-redux-saga-05vo5?file=/ui/store/authenticatio

[2021-11-26 11:56] veeramarni opened #57 "Does it support react-native?"

[2021-11-28 02:20] salvoravida commented on #56
@dArignac https://codesandbox.io/s/webpack5-typescript-tsloader-redux-saga-forked-hhcmt?file=/ui/store/index.ts:1004-1042

routerMiddlerware must be applied after saga one, otherwise can't intercept saga dispatched actions.

[2021-11-28 02:20] #56 closed

[2021-11-28 13:34] nrjinua commented on #57
Yes

[2021-11-29 07:33] dArignac commented on #56
Hi @salvoravida - you're right - thanks a lot! It is now working.

[2021-11-29 09:47] salvoravida commented on #57
thanks for your test!

[2021-11-29 09:47] #57 closed

[2021-12-04 14:46] smagnetize commented on #29
I can't see the route params in the redux store. It would make sense to me, I tried this out specifically to get that data easily in the store.

[2021-12-09 13:27] flying-sheep opened #59 "SyntaxError when importing /rr6 (Cannot use import statement outside a module)"
The following code breaks when running my jest test suite:

[code]

[code]

I guess adding a `package.json` with the content

[code]

to the `rr6` folder should fix this.

[2021-12-09 13:48] salvoravida commented on #59
flying-sheep: try 5.0.5 https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.5

[2021-12-09 13:48] #59 closed

[2021-12-10 22:05] salvoravida commented on #27
https://github.com/remix-run/react-router/releases/tag/v6.1.0

Finally react-router published HistoryRouter ! 🎉

[2021-12-13 13:04] flying-sheep opened #60 "Support `history` 5 types"
`history` 5.1 renamed the type `LocationDescriptor` to [`To`](https://github.com/remix-run/history/blob/main/docs/api-reference.md#to). Since this project’s `push` and `replace` are typed like the following, their `location` argument is now typed as `any`. Current typing:

[code]

I think it can be fixed like this:

[code]

[2021-12-13 14:07] #60 closed

[2021-12-13 14:09] salvoravida commented on #60
@flying-sheep https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.8

lmk!

[2021-12-13 18:00] flying-sheep commented on #60
works wonderfully!

[2022-01-04 10:59] ianldgs opened #61 "Support NextJS router"
Hello,

First of all, thanks for this very nice library!

It would be amazing to also have support for the NextJS router.
I know there is: https://github.com/danielr18/connected-next-router, but your library looks more well-maintained to me.

Thoughts?

[2022-01-05 20:56] mggower opened #62 "Add an option to provide an initial state for the reducer?"
it would be convenient to be able to provide this initial state for the router reducer to avoid having to null check consistently

[2022-01-06 10:29] salvoravida commented on #62
Hi, the state is initialized with history location as soon as the reduxHistory object is created
https://github.com/salvoravida/redux-first-history/blob/master/src/create.ts#L91

Until that, it is correct that the state is not in sync with the history object

[2022-01-06 14:16] #62 closed

[2022-01-13 10:02] Whazor opened #63 "Add Actions union type"
With redux-observable it is a pattern to have all actions as a union type, it would be nice if this library also exports an union of all possible action types. This would not require any new dependency as it is pure TypeScript.

I currently added the union typing for my project this way, but implementation would be a bit cleaner:
[code]

[2022-01-13 11:56] salvoravida commented on #63
@Whazor yeah open a PR!

[2022-01-13 11:56] #63 closed

[2022-01-14 18:29] TeckTn opened #65 "make actions aware of basename"
Thanks for this great work !

HistoryRouter allow to set a base name like this :

[code]

But actions like (push, replace, go ...) are not aware of the basename so for exemple if I call push("site"), I go to **/site** instead of **/someBasePath/site**

Of course I can extract the basePath from the Uri, but I think my request makes sense.

[2022-01-17 23:49] salvoravida commented on #65
Hi!
Redux-first-history sync history object with redux state, and does not depend on any declarative routing library, so it's correct that the push/replace actions reflect the history ones.

that said, you could introduce a new option "basename" on createReduxHistoryContext to be passed and merged on push/replace actions.

Feel free to open a PR!

[2022-01-17 23:49] #65 closed

[2022-01-24 18:58] danieldhp opened #66 "Is it possible to know if it's the first rendering?"
I'm migrating from `connected-react-router` and it has a feature that on the first rendering, the `LOCATION_CHANGE` action has a property named ` isFirstRendering` . Is there a feature similar to this?

Thanks

[2022-01-24 20:30] salvoravida commented on #66
Hi @danieldhp , redux-first-history does not depend on react rendering lifecycle, it sync state with history since his creation, so there is no first render.

What's your use case?

[2022-01-31 11:08] wvanooijen92 opened #67 "Push not updating use params (react router v6)"
Thank you for this package, I'm running into something silly, I am wondering if I miss something obvious.

It seems that if I use `dispatch(push('route/with-param'))` `useParams` is not getting updated.

My route looks like `<Route path="/home/:tab" element={<HomePage />} />`

And then I have two components;

Here I need the value of the param:
[code]

Here is the navigation:

[code]

Does anyone

[2022-01-31 12:04] #67 closed

[2022-01-31 15:28] #66 closed

[2022-02-14 08:00] yiziz opened #68 "Uncaught TypeError"
Using react router 6 and i have `skipLibCheck` true in my `tsconfig`. Why is this error showing up for me?

[code]

Seem to point to https://github.com/salvoravida/redux-first-history/blob/master/src/create.ts#L183?

[2022-02-14 08:14] yiziz commented on #68
My bad - had a `combineReducers` error.

[2022-02-14 08:14] #68 closed

[2022-02-17 16:54] dsteinel commented on #68
FYI
I had the same TypeError and was looking for quite some time for the error. In the end I needed to update the history package to the latest version (5.2.0). Apparently it only works with history v5 .

[2022-02-17 18:27] salvoravida commented on #68
rr6 need history v5

rr4/5 need history v4

[2022-02-17 22:13] valen2510 opened #69 "Don't display component in in new tab"
Hi!

I'm trying to open a new tab with a different path so I could render the component related to this route in my app, but the component always renders the component I was before in the app.  For example I was in a component called authors, I open an new tab and copy a path to go to books, but event though the path is for books it end up rendering authors.

How can I solve this?

react: ^17.0.2

[2022-02-18 09:07] salvoravida commented on #69
Please can you provide a demo in a codesandbox?

[2022-03-01 14:55] JavierBeni opened #70 "Cannot read properties of undefined (reading 'pathname'). problem when I click other Link from the page"
Hello.

I am using this library, and I have problem with it.
I am using it with react-route v6.
the version of this library is 5.0.8
I have same config than in the example, but when I change between webpages, i see this:
![Screen Shot 2022-03-01 at 15 40 31](https://user-images.githubusercontent.com/60954368/156189461-3d61ebda-7acc-46ca-90fe-362701e7e9ff.png)

### my store is:
[code]

### The rout

[2022-03-01 15:53] salvoravida commented on #70
@JavierBeni please che you provide a code sandbox demo?

[2022-03-01 16:19] JavierBeni commented on #70
@salvoravida ok, I will try to reproduce it. but its a big project, so I don't know if I would can.

Anyway, did you see this bug before?

[2022-03-01 20:13] salvoravida commented on #70
No. The most probable thing is that there is a bug in your code, but without a code sandbox it's not possible to help you.

[2022-03-02 14:09] ruiminxu opened #71 "Does redux-first-history work in Ionic?"
Just wanted to know if this package work well with Ionic.

[2022-03-02 14:31] #71 closed

[2022-03-03 15:07] salvoravida commented on #70
Cannot provide help without a sample code. Please feel free to reopen the issue as you post a code sandbox example.

[2022-03-03 15:07] #70 closed

[2022-03-03 16:14] JavierBeni commented on #70
ok.
I am creating project.
for now, I dont see any problem in the sandbox.
I will continue adding elements of my project and testing

thanks by your time.

[2022-03-10 01:42] Slapbox opened #72 "Feature request: support for custom reducer function"
I'm trying to upgrade our project to use this great library and I wonder if there's any plans/interest to implement an optional custom reducer function? The motivation for this would be to implement things like de-duplicating routes in the history stack, or removing routes which no longer exist.

Currently we do this via direct modifications on our `history` object when changing routes, but of cou

[2022-03-10 07:26] salvoravida commented on #72
Hi @Slapbox you can already use a custom Router Reducer:

[code]

Of course, you must be sure that the reducer is returning a valid RouterState and an initial null state.
You could start by cloning the original one:
https://github.com/salvoravida/redux-first-history/blob/master/src/reducer.ts

[2022-03-10 07:26] #72 closed

[2022-03-10 10:28] JavierBeni commented on #70
Hi.
Finally the problem was the version of the "history" library. It must be bigger than 5.0.0

I write the comment for other people can see it if they have same problem.

Regards and thanks!

fyi @salvoravida

[2022-03-10 10:32] salvoravida commented on #70
Oh great!.

Generally, you do not have to add the history package, as it is a dep of react-router

react-router v5 install history v4
react-router v6 install history v5

[2022-03-10 21:03] Slapbox commented on #72
Ah that's deceptively simple! Thank you for this great library!

[2022-03-14 23:17] Slapbox opened #73 "Expose index of current history entry?"
Is the `index` of the current location in the history stack accessible somewhere besides our un-connected `history` object? I don't see it in either our connected-history, nor in our Redux store. How can we determine if there are back/forward entries, and how many?

[2022-03-18 19:07] agarwal-nitesh opened #74 "window.location mismatch with redux router state location."
React router version - 6.2.2
reudx-first-history version - 5.0.8
I have 3 routes:
landing - /
login - /login
signup - /signup

From landing, I navigate to login, if a user is not authorized using reduxFirsthistory.push.
From login on clicking signup I navigate to signup using useNavigate.
If I now goto the landing / path, I end up on signup. The redux router state location path is signup, whereas

[2022-03-18 19:16] salvoravida commented on #74
Hi, can you provide a code sandbox example?

[2022-03-18 21:21] agarwal-nitesh commented on #74
https://codesandbox.io/s/crazy-meadow-9urrru?file=/src/App.js

[2022-03-20 10:19] salvoravida commented on #74
@agarwal-nitesh Sorry can't understand where is the problem. Can you describe the exact steps to reproduce?

[2022-03-24 09:31] salvoravida commented on #74
@agarwal-nitesh  feel free to re-open as soon as the codesandbox is working

[2022-03-24 09:31] #74 closed

[2022-04-04 16:05] erickskrauch opened #76 "Draft a new release"
Hello.

Please publish a new version with this PR: https://github.com/salvoravida/redux-first-history/pull/64.

[2022-04-09 07:00] salvoravida commented on #76
https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.9

[2022-04-09 07:00] #76 closed

[2022-04-13 14:31] RobArbor commented on #62
Wanted to throw up this use case, because it doesnt seem possible to provide the initial state.

For our app we would like to set the initial state when deeplinking to a page.
Because the default state is using the history object it will link outside the application when we use the `GoBack` action.
Instead we would like to have an intitial state that references to the root of our app.

[2022-04-16 07:46] talkohavy opened #77 "What about Server Side Rendering?"
Is it possible / will it be possible in the future
to use redux-first-history in server side render? (and how would you do it?)

Right now you have createBrowserHistory(),
but as you know, on the server doesn't have a DOM,
so it gives the natural error of:
`Error: Invariant failed: Browser history needs a DOM`

[2022-04-19 11:24] JadowityHerbatnik commented on #6
Currently the `selectRouterState` is typed as
[code]
And using the snippet below I get a typescript error ```Property 'get' does not exist on type 'S'```.
[code]

So perhaps it's worth changing `selectRouterState` type to sth like:
[code]
and call ```createReduxHistoryContext``` like this:
[code]

Just a first solution that came to my mind, hope to hear your thoughts!

[2022-04-20 06:55] salvoravida commented on #6
Have you tried to explicit the State type?
[code]

[2022-04-20 09:53] JadowityHerbatnik commented on #6
Yes, I did. ```Type 'S' is not assignable to type 'YourRootState'```
Here's a minimal way to reproduce it:
[code]
Gives the following error:
[code]

[2022-04-27 10:01] seelasudheer99 opened #78 "Cannot read properties of undefined (reading 'action')"
![image](https://user-images.githubusercontent.com/89505529/165493435-2a559f2b-e454-498c-9410-0880f2152856.png)

i followed the code in the documentation , but this error got popped up, any solution for this @Whazor @devzeebo @phlex89 @aalpgiray  @kurohune538

[2022-04-30 13:52] salvoravida commented on #78
@seelasudheer99 please provide a codesandbox sample otherwise we cannot help you.

[2022-05-03 10:33] piotrwitek opened #79 "Action types are not Typescript friendly"
Action types are not Typescript friendly, they should return Action with its type declared as a string literal type. This would make it possible to be leveraged in various typesafe libraries such as `typesafe-actions` for discriminated unions.

Please check here for a nice example of TypeScript friendly types declaring a type as a literal string type: https://github.com/supasate/connected-react-ro

[2022-05-03 14:41] salvoravida commented on #79
@piotrwitek you are right.
Would you like to open a pr for this?

[2022-05-03 14:41] #78 closed

[2022-05-06 13:19] matinrco opened #80 "Using store location object causes infinite renders but it's fine with rr6 location hook"
hey! thanks for your great work.

here is [sandbox](https://codesandbox.io/s/redux-first-history-test-8876pv?file=/src/PrivateRoute.tsx)

[2022-05-06 21:09] salvoravida commented on #80
Hi!
the problem is that Navigate has IMHO a bug here https://github.com/remix-run/react-router/blob/main/packages/react-router/lib/components.tsx#L95. not having [] for running only once.

dispatch a new location make re-render components subscribed to, and the loop is generated because Navigate runs effects every render.

So you have 2 options
1) read the location from redux and use a NavigateFix

[2022-05-06 21:09] #80 closed

[2022-05-06 22:29] matinrco commented on #80
I fixed that by applying a convention for myself:
- use rr stuff in components ( navigation components, hooks, etc)(obviously)
- use store router data with combination of `redux-first-history` actions for any out of component navigation (in slice/thunks ..)
and don't mix this usage xd

so basically it's your second workaround 👍

[2022-05-08 12:22] salvoravida commented on #77
you should replace createBrowserHistory with createMemoryHistory

[2022-05-16 08:48] #77 closed

[2022-06-08 07:43] arnriu opened #81 "redux-first-history rr6 router: Maximum update depth exceeded error in unknown route redirect"
Hello,

While updating to cra5, rr6, etc... I had this bug: when reaching an unknown path, if I use rr6 Navigate component to redirect, I have a Maximum update depth exceeded error.

[code]

This error happens with redux-first-history rr6 router:
[code]

If I replace this router with, for instance, rr6 BrowserRouter, and keep same routes, bug is gone.

To fix it for now, I did this:

[code]

and u

[2022-06-17 12:37] theFreedomBanana opened #82 "Missing @types/reach__router dependencie when using RFH with React-router"
Hi,
Updating `react-router` from V5 to V6 I moved to `redux-first-history` because `connected-react-router` does not support `react-router` V6. I also updated `history` to v5 because it is the version used in `react-router` v6. But compiling I have the folowing issue with `redux-first-history` :
[code]

I kinda find wierd that I would have to install types from another router to use RFH with `reac

[2022-06-17 17:52] salvoravida commented on #82
@theFreedomBanana  https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.10

about the Location, the type is from your current history package. Are you sure have the correct package on your node modules?
have you uninstalled the old @types/history stuff?

[2022-06-17 17:55] salvoravida commented on #82
lmk with v5.1.0

[2022-06-17 17:55] #82 closed

[2022-06-20 17:46] salvoravida commented on #82
@theFreedomBanana https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.11
lmk

[2022-06-22 06:06] theFreedomBanana commented on #82
@salvoravida works like a charm! Thanks

[2022-06-23 13:45] Ethorsen commented on #65
@salvoravida Still interested in that PR?

History v5 removing its basename feature made our work on upgrading to rr6, history5, rfh5 a real pain.

Might work on bringing this bit of feature in RFH to at least alleviate some of it.

[2022-06-24 08:09] awreese commented on #27
Came here after searching what `oldLocationChangePayload` represented and what it was supposed to be used for. It appears to be deprecated but is still included in the type interface: https://github.com/salvoravida/redux-first-history/blob/328cf16b19f07a2f52138ecf6d741a9ccfec74b0/src/create.ts#L20

[2022-06-24 09:37] salvoravida commented on #27
https://github.com/salvoravida/redux-first-history/releases/tag/v5.0.12

[2022-07-02 02:36] reZach opened #83 "Cannot read properties of undefined (reading 'pathname')"
Hello, thank you for this repo! I was directed here based on [your comment](https://github.com/supasate/connected-react-router/issues/543#issuecomment-964911880) of using redux-first-history instead of connected-react-router. I wanted to ask, because I feel like I'm following your instructions properly, but I'm running into a strange error. Here is what I have. Everything is pretty much boilerplat

[2022-07-04 09:43] salvoravida commented on #83
Hi there

1.) remove "connected-react-router": "^6.9.2",
2.) delete package-lock.json and recreate it, as it is corrupted with both history 4.x/5.x packages

[2022-07-04 09:43] #83 closed

[2022-07-05 03:39] reZach commented on #83
Thanks @salvoravida , I tried these suggestions (and updated that repo) yet I still see the same issue. Do you have another suggestion?

[2022-07-05 04:28] reZach commented on #83
@salvoravida, `npm i history` needed to be ran such that `history` existed and was version 5, due to [your comment here](https://github.com/salvoravida/redux-first-history/issues/70#issuecomment-1063903524) which requires a version of `history` of 5 to be present if `react-router` version 6 is present.

[2022-07-05 06:35] salvoravida commented on #83
no you do not need to install history5, it is already a dep of react-router v6.

Anyway your project is corrupted. Here is a test project with your code, that works.

https://codesandbox.io/s/rfh-issue-test-ephnte

Best regards.

[2022-07-13 01:11] coopermaruyama opened #84 "location change action always dispatched on initial load"
While debugging why my app is re-rendering on initial load, I tracked it down to a location change action that is dispatched at this line:

https://github.com/salvoravida/redux-first-history/blob/master/src/create.ts#L90

I'm curious why this dispatch is needed? If it is to populate the initialState, could it not just be passed as initialState into `createReducer` in order to avoid this dispatch?

[2022-07-17 09:02] salvoravida commented on #84
Yes, you may have middlewares like redux-saga listening for LOCATION_CHANGE action "event," and the initial location is also a location change event.

[2022-07-17 09:02] #84 closed

[2022-07-25 14:08] SmoooZ opened #87 "state.router.location is not equal to useLocation()"
The "Main Goal" section of redux-first-history describes that the following is always true:

`
//react-router v5 - v6
useLocation() === state.router.location
`

However a beta of react-router v6 did make sure that useLocation().pathname no longer includes the basename (see https://github.com/remix-run/react-router/releases/tag/v6.0.0-beta.5)
Therefore there is currently a mismatch between useLocat

[2022-08-03 10:55] frankruegamer opened #88 "<Navigate> with React 18 causes "Maximum update depth exceeded""
This error seems to occur under very specific circumstances: [CodeSandbox example](https://codesandbox.io/s/quizzical-leaf-ve1mk3?file=/src/MainContent.tsx)

- Navigating to /redirect using either
  - The third `<NavLink/>`
  - "Native Navigate" using `useNavigate()` hook
  - "Navigate with Redux" using `dispatch(push(..))`
  - Navigating to /redirect using the address bar (in the CodeSandbox brow

[2022-08-06 22:11] talkohavy commented on #88
Same is happening to me...
That is a real let down tbh... I really like redux-first-history, and i'm not ready to give up on it.
I like how it exposes the _LOCATION_CHANGE_ to the developer, and even provides a _push_ for programmatic navigation when outside a component. For us this was a big deal, since all our business logic is located under the redux middlewares.

### Regarding your solutions:

[2022-08-15 06:49] sgnilreutr opened #90 "Redux Router state null + no events showing in Redux dev tool"
Issue:
1. The Redux router state only shows: location: null, action: null
2. The Router events are not showing in the Redux Devtools
3. BUT - navigation using dispatch(push()) is still working as expected.

I am yet to pinpoint the exact cause of the issue, but:

Running on:

redux-first-history: "5.0.12",
redux: "4.2.0",
react-router-dom: "6.3.0",
@reduxjs/toolkit: "1.8.3",
react: "18.2.0"

Store

[2022-08-23 06:41] AlbertoSadoc commented on #79
Maybe fixed with #89 ?

[2022-08-23 17:19] thanatusdev commented on #90
I have the same issue. Any solution to this?

[2022-09-03 19:48] steinarb opened #91 "Remove react router basename from LOCATION_CHANGE redux action pathname"
I would like the react router basename, if set, to be removed from payload.location.pathname in LOCATION_CHANGE redux actions created by router navigation.

I would also like push(LOCATION_CHANGE) to navigate to the correct place in the router, when the basename is omitted from payload.location.pathname.

This is related to https://github.com/salvoravida/redux-first-history/issues/87

[2022-09-03 19:58] steinarb commented on #91
The reason for this, is because swipe navigation in this app https://github.com/steinarb/oldalbum broke after I upgraded to react v18/react router v6, which broke connected-react-router so I had to change to redux-first-history.

Everything seemed to work fine at first until I tried doing swipe navigation in chrome devtools simulated mobile phone setup.

Then navigation got a 404 because the basen

[2022-09-06 07:19] salvoravida commented on #91
Hi, can you create a codesandbox with a basic code sample?

[2022-09-06 07:24] salvoravida commented on #90
@sgnilreutr you are using 2 instance of the store
https://github.com/Elysium-Labs-EU/juno-core/blob/f7e6c41520da80ab7fd95f49fdee56503318ec8d/src/store/store.ts#L51
https://github.com/Elysium-Labs-EU/juno-core/blob/dev/src/main.tsx#L28

the correct use is
export const store =setupStore();
export const history = createReduxHistory(store);

import this store in the main app.

[2022-09-06 07:24] #90 closed

[2022-09-06 07:40] salvoravida commented on #91
OK, a couple of points
since guys at remix-run have dropped support for basename in history while supporting it only in react-router, there is nothing redux-first history can do internally, as it's just a bridge between them.
What you can do are 2 solution
1) https://github.com/remix-run/history/issues/810#issuecomment-824357551. (the ugly one)
2)https://github.com/remix-run/history/issues/810#iss

[2022-09-06 07:40] #91 closed

[2022-09-06 07:42] salvoravida commented on #87
@SmoooZ https://github.com/salvoravida/redux-first-history/issues/91#issuecomment-1237775167
use solution 2

[2022-09-06 20:57] steinarb commented on #91
I was sort of hoping there were APIs on the react-router you could hook in to, but I guess if you're the bridge between the history and the react-router, there is, as you say, not much you can do..

Yes, I'm doing sort of 1 for now, as a workaround to get things working again.

None of the alternatives makes me happy. :-/

Things were so simple when basename was handled by the history, and now the

[2022-09-09 16:49] steinarb commented on #91
@salvoravida A question: what if there was a redux store state value the basename could be read from?

Could that be leveraged by redux-first-history in some way, that would be not-too-hacky?

What I did was to

1. Calculate the basename from the URL the application was opened with and set that as the basename in the redux-router as well as save it to state.basename (this is in [oldalbum.web.front

[2022-09-10 01:04] salvoravida commented on #91
@steinarb https://github.com/salvoravida/redux-first-history/releases/tag/v5.1.0
lmk

[2022-09-10 01:23] #79 closed

[2022-09-10 02:52] salvoravida commented on #88
@talkohavy @frankruegamer

demo ok -> https://codesandbox.io/s/sweet-einstein-u8gi6r?file=/src/App.tsx

TL;DR

[code]

[2022-09-10 02:59] salvoravida commented on #80
@matinrco fixed here https://github.com/salvoravida/redux-first-history/issues/88

[2022-09-10 02:59] salvoravida commented on #81
@arnriu fixed here https://github.com/salvoravida/redux-first-history/issues/88

[2022-09-10 10:44] steinarb commented on #91
My app greatly simplified! Thank you! https://github.com/steinarb/oldalbum/commit/4d2c704cf5f1068912015f23356748aa9ecf073d

[2022-09-10 21:29] alexburkowskypolysign opened #92 "rr6 requires react-router incorrectly"
https://github.com/salvoravida/redux-first-history/blob/6b6b40470e5974f0167f5ae92c7d40bd6cade334/rr6/index.js#L9

It should `require('react-router-dom')`

[2022-09-11 13:37] salvoravida commented on #92
it's the same, it is just re-exported
https://github.com/remix-run/react-router/blob/main/packages/react-router-dom/package.json#L17
https://github.com/remix-run/react-router/blob/main/packages/react-router-dom/index.tsx#L64

[2022-09-11 13:37] #92 closed

[2022-09-11 13:47] salvoravida commented on #73
https://github.com/remix-run/history/blob/dev/packages/history/index.ts
History v5 remove index field.

[2022-09-11 13:47] #73 closed

[2022-09-11 13:49] salvoravida commented on #87
https://github.com/salvoravida/redux-first-history/releases/tag/v5.1.0

[2022-09-11 13:49] #87 closed

[2022-09-12 00:11] alexburkowskypolysign commented on #92
@salvoravida the issue comes down to webpack node_module resolution. It doesn't know that it's re-exported that way. At least that's the issue I'm running into

[2022-09-12 13:42] arnriu commented on #88
Hello. Just tried this in my app:
- removed my fix component (see #81 ) and replaced it with Navigate component. (ie: `<Route path="*" element={<NavigateOnce to="/home" replace />} />` becomes `<Route path="*" element={<Navigate to="/home" replace />} />`
- added batch in `createReduxHistoryContext`

Results: `Warning: Maximum update depth exceeded.`

[code]

[2022-09-12 13:48] salvoravida commented on #88
@arnriu can you provide a codesandbox?

[2022-09-12 16:58] Kost927 commented on #83
Also had such a problem. Tried with history 4.10.* and history 5.3.0. And tried to remove history dep from the project. Worked solution for me is to install history 5.0.0.

[2022-09-12 17:18] Kost927 opened #93 "query params"
In the "connected-react-router" I could get query params from the "state.router.location.query",  but here I can see only search params, any chance I can get query from the state.router.location object? It is much easier to have them in redux, than use "new URLSearchParams" and "searchParams.get()"

[2022-09-14 15:26] DRichter-r opened #94 "History V4 support"
Hi!
We´re still using history V4.10.1 because of other dependencies. With the newest update to redux-first-history 5.1.1. it seems like the support for history V4 broke.
The Error is:  error TS2339: Property 'back' does not exist on type 'History<unknown>'.
Can you recreate this behavior?

Best wishes,
Daniel.

[2022-09-15 12:06] salvoravida commented on #94
@DRichter-r can you add a codesandbox example?

[2022-09-15 12:16] salvoravida commented on #93
what's wrong with https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/entries ?

Can you explain your use case?

[2022-09-15 12:59] DRichter-r commented on #94
Here´s a repo where the error is reproduced: [https://github.com/ceisele-r/redux-first-history-tsc-repro.git](https://github.com/ceisele-r/redux-first-history-tsc-repro.git)
with this [Error](https://github.com/ceisele-r/redux-first-history-tsc-repro/actions/runs/3060591340/jobs/4939291075#step:5:9)

The issue might be that @types/react-router and @types/react-router-dom pull @types/history v4.7.1

[2022-09-15 13:14] salvoravida commented on #94
you have to use   "skipLibCheck": true, that's because rfh support both v4/v5

[2022-09-15 13:14] #94 closed

[2022-09-15 13:45] arnriu commented on #88
Sorry, didn't have time to reproduce it in a code sandbox so far, I have a huge bug in my service worker in production and I have to deal with it asap.
But, I have a lead: It could be that I use react-scripts (from create react-app) with react-app-rewired. On localhost, I changed some things to work without react-app-rewired. When I run `react-app-rewired start`, I have the Maximum update depth ex

[2022-09-15 20:06] salvoravida commented on #88
@arnriu no worries. feel free to update the issue if need to.

[2022-09-15 20:06] #88 closed

[2022-09-19 00:52] voodoocreation opened #95 "Support for react-router 6.4.0"
Hey team - was just wondering if there's any planned support for [`react-router` v6.4.0](https://github.com/remix-run/react-router/releases/tag/react-router%406.4.0)?

After attempting to migrate to their newer method of wiring up routes, it appears it requires a whole new provider to be used, which doesn't seem to require creating the `history` instance to provide it - I'm assuming it now does it

[2022-09-19 16:21] aliaksandr-yermalayeu opened #96 "basename for location.pathname support"
In previous version of `history` package the `basename` was also used for making `location.pathname` **relative** to `basename`, see [`history v4 api`](https://github.com/remix-run/history/blob/1b3ae1b5abda4fbb754c869737d02baaad358194/modules/createBrowserHistory.js#L53
)

For example with `basename` _`/foo/bar/id`_ and url _`/foo/bar/id/baz`_ the `pathname` will be _**`/baz`**_

Then in the 5th v

[2022-09-20 16:22] LexaDel opened #97 "Why doesn't render component? react-router-dom v6.4.0 history v5.3.0"
I need redirect to page home with basename '\admin'.

Steps
-  I enter url http://localhost:8080
-  app redirect to http://localhost:8080/admin/home

**Expected Behavior**
render home component

**Actual Behavior**
Component isn't render and error in console: No routes matched location "/admin/home"

I have such dependencies:

[code]
index.js

[code]

app.js

[code]

store.js

[code]

I have [exam

[2022-09-21 13:54] matteo-dirollo opened #98 "Can't make it work properly with react-router v6"
I'm using { BrowserRouter } to navigate on my webapp, the only problem with v6 and BrowserRouter is that it doesn't support this :

import { HistoryRouter as Router } from "redux-first-history/rr6";

Of course I can not use them together but the real issue is that BrowserRouter doesn't track the location when I'm changing the url and HistoryRouter doesn't work well with Routes and Route components

[2022-09-22 07:59] salvoravida commented on #95
wip

[2022-09-22 07:59] salvoravida commented on #97
https://github.com/salvoravida/redux-first-history/issues/95. duplicate

[2022-09-22 07:59] #97 closed

[2022-09-22 08:00] salvoravida commented on #98
react router version ?

[2022-09-26 14:02] matteo-dirollo commented on #98
"react-router-dom": "^6.3.0",

[2022-10-02 15:03] matteo-dirollo commented on #98
is there any example to make it work properly with this version? When I I change page redux doesn't store the new location in my state, if check it out the location is randomly picked idk why

[2022-10-03 05:23] noradium commented on #92
@salvoravida Hello, I have the same issue.
I run webpack, and get the following error.
[code]

My package.json deps has `react-router-dom` but not `react-router`.

I maybe think, adding `react-router` to `redux-first-history`'s deps solves this?

[2022-10-03 18:55] salvoravida commented on #98
https://codesandbox.io/s/redux-first-history-demo-rr6-forked-olmbbo

[2022-10-03 18:55] #98 closed

[2022-10-03 18:59] salvoravida commented on #95
@voodoocreation it seems working https://codesandbox.io/s/redux-first-history-demo-rr6-forked-8ihzv6?file=/src/App.jsx

Am I missing something?

[2022-10-03 19:00] salvoravida commented on #93
@Kost927

[2022-10-03 20:43] voodoocreation commented on #95
Yeah the old API still works in `>=6.4.0` - it was their newer API using `create...Router` methods rather than creating a `history` instance and passing it down. Some more info about that can be found [in their docs](https://reactrouter.com/en/main/routers/picking-a-router#using-v64-data-apis). For example, using `const router = createBrowserRouter();` and then providing `router` to their `RouterP

[2022-10-03 22:59] voodoocreation commented on #95
You might have to look at the internals of those new methods to see how it's integrating with the history events to see what you'll need to bind to to get the Redux integration working. Fingers crossed it's still possible and isn't something they've obfuscated within those new methods 🤞

[2022-10-04 08:36] #93 closed

[2022-10-04 09:23] MustonenMishka opened #99 "History v5 types error + back and forward actions are not exported"
- goBack and goForward methods are no longer exist in history v5 types. Build process is crashing
- new back and forward actions are not exported from index.ts

[2022-10-04 09:27] MustonenMishka commented on #99
I think the possible solution is to leave history v4 behind and fully switch to v5. It will get rid of type errors and use appropriate methods

[2022-10-12 21:47] connorcook-shippo commented on #99
Getting these errors too, currently transitioning from react-router v5 to v6 and it's tripping me up. At present, my app won't compile, but it's not clear if it's from this specific issue or from something else.

[2022-10-13 04:25] MustonenMishka commented on #99
Hi!
You can create a type declaration file and extend library types with
yours.I solved it by that for a moment

чт, 13 окт. 2022 г., 00:47 connorcook-shippo ***@***.***>:

[2022-10-26 17:53] bobsilverberg commented on #95
I am trying this now with `react-router-dom v6.4.2`, and I'm getting an error from the react-router code after clicking on a `Link`. I am doing SSR, which might be contributing to it, but up to this point that wasn't an issue. The initial page renders fine, but when I click on a link on the client, I am getting `TypeError: locationProp is undefined`, which is coming from https://github.com/remix-r

[2022-11-04 19:29] mogsdad commented on #95
I had a config working with `react-router-dom@6.4.2` and just broke with 6.4.3. The TypeScript errors point pretty clearly to [a change](https://github.com/remix-run/react-router/pull/9496) that added a new `encodeLocation` property to `History` in `@remix-run/router` as a "patch". This divergence presents another challenge for supporting react-router 6.4.

[code]

[2022-11-07 11:06] mashood05 commented on #95
Hi, are u able to find any solution for this thank u

[2022-11-08 17:28] baileyandy commented on #99
I am seeing the same incompatibility with this and the latest [`history`](https://github.com/remix-run/history/) v5.3.0.

[code]

I think it was missed because this project's dev dependency is still on history v4 when these properties still existed. It was an undocumented breaking change in history v4 -> v5, see https://github.com/remix-run/history/issues/811

[2022-11-09 18:55] connorcook-shippo commented on #99
I will be the first to admit I'm not familiar with the best way to solve this issue, nor have I made many contributions to package development- but if we know it'll have either `back` OR `goBack`, and `forward` OR `goForward`, could do we an approach that uses one or the other based on what's available? The change mentioned by [baileyandy](https://github.com/baileyandy) states that they are functi

[2022-11-16 19:15] Tsyklop opened #101 "State not changed when routing change"
I have application.

And when i change router - redux store does not change

Example: https://codesandbox.io/s/crazy-darwin-s112t4

I use redux-logger and there are no LOCATION_CHANGE messages in console

[2022-11-25 15:50] apricoder commented on #99
as a workaround for the compilation error you can add this somewhere in your code:
[code]

and then just use `history.back()` / `history.forward()`

[2022-11-29 17:46] red17electro opened #103 "Uncaught Error: useRoutes() may be used only in the context of a <Router> component."
Hi,

I am getting the error in the title. I can fix it by wrapping <HistoryRouter> from the package with <BrowserRouter>, but that's against the documentation and the provided example there.

Can you please help me out, what could have I done wrong here?